@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1b1b1b;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}

input[type="text"]::selection {
  background: #FF5252;
  color: white;
  padding: 4px;
  border-radius: 5px;
}